html, body {
    margin: 0;
    overflow-x: hidden;
    background-color: #f3edd3;
}

img {
    width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
    color: #113f59;
}

@font-face {
    font-family:"Impact", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src:url("../fonts/impact.woff2") format("woff2"),url("../fonts/impact.woff") format("woff"),url("../fonts/impact.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Phank";
    src:url("../fonts/Phank.woff2") format("woff2"),url("../fonts/Phank.woff") format("woff"),url("../fonts/Phank.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Courier New";
    src:url("../fonts/cour___0.woff2") format("woff2"),url("../fonts/cour___0.woff") format("woff"),url("../fonts/cour___0.otf") format("opentype");
    font-style:normal;font-weight:400;
}

.menu li, .banner h2, #about p, #portfolio p, #contact p, .copyright p {
    font-family: "Courier New";
}

.banner h1, #about h2, #portfolio h2, #contact h2 {
    font-family: "Impact";
    font-weight: normal;
}

/*
.menu {
    z-index: 5;
    display: flex;
    justify-content: center;
    background-color: #113f59;
    -webkit-box-shadow: 0px 0px 10px 0px;
    -moz-box-shadow: 0px 0px 10px 0px;
    box-shadow: 0px 0px 10px 0px;
    position: fixed;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li, .menu li > a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

.menu li:hover > a {
    color: #20d6c7;
}
*/

/* MENU MOBILE START */

.menu {
    top: calc(50% - 83px);
    position: fixed;
    z-index: 5;
    left: -98px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.menu:hover {
    left: 0px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li, .menu li > a {
    color: #fff;
    text-decoration: none;
}

.menu li {
    -webkit-box-shadow: 3px 3px 12px -3px #000000;
    -moz-box-shadow: 3px 3px 12px -3px #000000;
    box-shadow: 3px 3px 12px -3px #000000;
    margin: 2px 0px 2px 0px;
    background-color: #113f59;
    text-align: right;
    padding: 10px;
    display: block;
}

.menu li:hover > a {
    color: #20d6c7;
    margin-left: 0px;
}

/* MENU MOBILE END */

.banner {
    min-height: 100vh;
    background-color: #d54f58;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 30px 0px;
    flex-direction: column;
}

.banner h1, .banner h2 {
    color: #f3edd3;
    margin: 0;
    -webkit-box-shadow: 0px 8px 60px -11px #000000;
    -moz-box-shadow:  0px 8px 60px -11px #000000;
    box-shadow: 0px 8px 60px -11px #000000;
    padding: 5px 20px 5px 20px;
    background-color: #e45c65;
}

.banner p {
    font-family: "Phank";
    font-size: 70px;
    color: #f3edd3;
    transform: rotate(-7deg);
}

.banner h2 {
    background-color: transparent;
    box-shadow: none;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}

.banner img {
    width: 100%;
    max-width: 200px;
    border-radius: 200px;
    margin-bottom: 20px;
    border: 4px solid #f3edd3;
    -webkit-box-shadow: 0px 9px 67px -12px;
    -moz-box-shadow: 0px 9px 67px -12px;
    box-shadow: 0px 9px 67px -12px;
}

#contact h2, #about h2 {
    color: #e45c65;
    border-bottom: 1px dotted #e45c65;
    padding-bottom: 5px;
}

#about {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about img {
    margin-top: 35px;
}

#portfolio {
    padding: 20px;
    background-color: #19bec0;
    min-height: 100vh;
    padding-bottom: 30px;
}

#portfolio h2 {
    color: #113f59;
    border-bottom: 1px dotted #113f59;
    padding-bottom: 5px;
}

#portfolio p {
    color: #f3edd3;
    margin-bottom: 20px;
}

#contact {
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer.copyright {
    background-color: #113f59;
    padding: 20px;
}

.copyright p {
    color: #f3edd3;
    margin: 5px 0px 5px 0px;
    font-size: 12px;
}

#portfolio div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

#portfolio img {
    -webkit-filter: grayscale(100%);
    -moz-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    transition: 0.9s;
}

#portfolio img:hover {
    -webkit-filter: grayscale(0%);
    -moz-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

table {
    font-family: "Courier New";
    color: #113f59;
    font-size: 13px;
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 20px;
}

#contact ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    max-width: 280px;
}

.social i.fa {
    font-size: 50px;
    color: #113f59;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    transition: 0.9s;
}

i.fa.fa-facebook-square:hover {
    color: #445994;
}

i.fa.fa-twitter-square:hover {
    color: #51a0ec;
}

i.fa.fa-linkedin-square:hover {
    color: #3575ae;
}

i.fa.fa-github-square:hover {
    color: #25292e;
}

i.fa.fa-google-plus-square:hover {
    color: #d65040;
}

@media screen and (min-width: 480px) {
    table {
        font-size: 17px;
    }

    footer.copyright {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 720px) {
    #portfolio div {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #about img {
        width: 680px;
        height: auto;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    #portfolio div {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    #portfolio div {
        grid-template-columns: repeat(5, 1fr);
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    .banner p {
        font-size: 100px;
    }

    .banner h1 {
        font-size: 32px;
    }

    .banner h2 {
        font-size: 29px;
    }
}

@media screen and (min-width: 1280px) {
    #portfolio div {
        grid-template-columns: repeat(6, 1fr);
    }

    #about, #portfolio, #contact, footer.copyright {
        padding: 20px 20% 20px 20%;
    }
}